.container {
    width: 960px;
    overflow: hidden;
    margin: 2rem auto;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(33, 37, 41, 0.2);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #6799ff;
    transition: all .2s ease-in-out;
}

a:hover, a:visited {
    color: #2049a8;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

nav {
    background-color: #6799ff;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
    border-right: 2px solid #cccccc;
}

.navbar li a {
    display: inline-block;
    color: white;
    padding: .5rem 1.5rem;
    transition: all .2s ease-in-out;
}

.navbar li a:hover, .navbar li a.active {
    color: #2049a8;
    text-decoration: none;
    background-color: #07c2e9;
    transition: all .2s ease-in-out;
}

main {
    padding: 2rem 1rem;
}

main table {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    border-radius: .4rem;
}

main table.tabella-sped {
    text-align: left;
}

main table tr {
    border: 1px solid #cccccc;
}

main table tr th {
    padding: .5rem;
    border-right: 1px solid #cccccc;
}

main table tr td {
    padding: 1rem;
    border-right: 1px solid #cccccc;
}

main table img {
    display: block;
    max-width: 200px;
    margin: 0 auto;
}

footer {
    color: #ccf022;
    text-align: center;
    padding: .5rem 1rem;
    background-color: #1b4da1;
}

footer a {
    color: #ccf022;
}

footer a:hover {
    color: #ffffff;
}

.img-prodotto img {
    max-width: 50%;
    float: left;
    margin: 2rem 0 1rem;
}

.clear {
    clear: both;
}