.d-3bo {
    color: #FC9918;
    font-weight: bold;
}

.ufficiale-imperiale {
    color: #F14A16;
    font-weight: bold;
}

.ribelle {
    color: #9D84B7;
    font-weight: bold;
}

.darth-fener {
    color: #370665;
    font-weight: bold;
}

.primo-soldato {
    color: #9145B6;
    font-weight: bold;
}

.secondo-soldato {
    color: #9A0680;
    font-weight: bold;
}

.capo-pilota {
    color: #EC255A;
    font-weight: bold;
}

.capitano {
    color: #9AE66E;
    font-weight: bold;
}

.leila-organa {
    color: #FFE227;
    font-weight: bold;
}

.leila {
    color: #19D3DA;
    font-weight: bold;
}

.comandante {
    color: #F2A07B;
    font-weight: bold;
}

.secondo-ufficiale {
    color: #834C69;
    font-weight: bold;
}